.cards {
  width:100%;
  padding:75px 0 0 0;
  font-family:'Poppins',sans-serif;
  .cards__itm {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    .cards__heading {
      text-align:center;
      font-weight:500;
      font-size:35px;
      margin-bottom:35px;
    }
    .cards__box {
      width:100%;
      display:flex;
      justify-content:space-between;
      align-items: center;
      margin-bottom:45px;
      .card {
        max-width:375px;
        padding:51px 39px;
        border-radius:9px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        transition: 1s ;
        &:hover {
          background-image: linear-gradient(45deg,#37BDA6,#CB1AE8);
          color:white;
        }
        .card__wrap {
          display:flex;
          flex-direction:column;
          align-items: flex-start;
          justify-content: stretch ;
          .card__heading {
            font-size:23px;
            font-weight:500;
            text-transform:capitalize;
            margin-bottom:11px;
          }
        }
      }
      .card-one {
        &::after {
          content:" ";
          width:45px;
          height:45px;
          background-image: url("./../img/alarm-light.png");
        }
      }
    }

  }
}

/* phone */

@media only screen and (max-width:375px) {
  .cards {
    width:100%;
    padding:35px 0 0 0;
    .container {
      max-width:305px;
      margin:0 auto;
      padding:0 5px;
      .cards__itm {
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        .cards__box {
          display:flex;
          flex-direction: column;
          align-items:center;
          .card {
            margin-bottom:35px;
          }

        }

      }
    }

  }
}