*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
  padding: 0;
}

.section {
  width: 100%;
  background-image: linear-gradient(45deg, #37BDA6,#CB1AE8);
}